<!-- top nav -->
<%= render 'shared/topnav' %>	

<div id="wraper-landing">
	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
	  <div class="container">
	    <h1>jQuery & Ruby on Rails</h1>
	    <h2>Menerapkan Teknik jQuery pada Ruby on Rails Website.</h2>
	    <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
	  </div>
	</div>

	<div class="container">
		<!-- Example row of columns -->
		<div class="row">
		  <div id="post-left" class="col-md-4">
					  
			 <% @postsL.each do |postL| %>
				<article>
				    <h2><%= postL.name %></h2>
				    <p><%= strip_tags(postL.content)[0..200] %></p>
				    <p><a class="btn btn-default" href="/<%= postL.slug %>" role="button">Readmore &raquo;</a></p>
				</article>
			  <% end %>		  
		  </div>

		  <div id="post-middle" class="col-md-4">

		  	<% @postsM.each do |postM| %>
				<article>
					<h2><%= postM.name %></h2>
				    <p><%= strip_tags(postM.content)[0..200] %></p>
				    <p><a class="btn btn-default" href="/<%= postM.slug %>" role="button">Readmore &raquo;</a></p>		
				</article>
		    <% end %>
		 </div>

		<!-- rightside -->	
		  <div id="rightside" class="col-md-4 text-center">
			<div id="rs" class="row">
			    <img src="/images/dyoo2.jpg" alt="dyo" class="img-circle" width="150" height="150">
			</div>
			<div id="rs" class="row">  
			  	<img src="http://res.cloudinary.com/medio/image/upload/c_scale,h_150,w_150/v1449503247/logojquery_ucpjtt.gif" alt="dyo" class="img-circle" width="150" height="150">
			</div>
			<div id="rs" class="row">  
			  	<img src="http://res.cloudinary.com/medio/image/upload/c_scale,h_150,w_150/v1449503706/logo_ror_hw8i7f.png" alt="dyo" class="img-circle" width="150" height="150">
		  	</div>
		  </div>
		</div>

		<!-- <div class="row">
		  <div class="col-md-4">
		    <h2>Heading 1</h2>
		    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
		    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		  </div>
		  <div class="col-md-4">
		    <h2>Heading</h2>
		    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
		    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		 	</div>
		 	<div class="col-md-4">
		    <h2>Heading right</h2>
		    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
		    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		 	</div>
		</div> -->

		<hr>
	</div> <!-- /container -->

</div>

<footer class="footer">
  <div class="container">
    <p>&copy; CodeMedio 2015</p>
  </div>
</footer>

