<%= render 'shared/topnav' %>

<div class="container">	
	<div class="row">

		<!-- sidebar -->
		<%= render 'shared/sidebar' %>

		<div class="col-md-10">
			<% @posts.each do |post| %>
			<h1><%= post.name %></h1>
			<p><%= raw post.content %></p>
			<br>
			
			<!-- tampilkan -->
			<!-- <pre class="language-html">
			    &lt;button class="sembunyi"&gt;Sembunyikan&lt;/button&gt;
			</pre> -->
			
			<br>
			<button class="sembunyi">Sembunyikan</button>
			<button class="tampil">Tampilkan</button><br>
			<br>
			<p><img id="foto" src="<%= post.image_url %>"></p>

			<script>
				$(document).ready(function(){
					$(".sembunyi").click(function(){
						$("#foto").hide("slow");
					});

					$(".tampil").click(function(){
						$("#foto").show("slow");
					});
				});
			</script>
		</div>
	<% end %>
	</div>	
</div>