<%= render 'shared/topnav' %>

<div id="singlepost" class="container">	
	<div class="row">

		<!-- sidebar -->
		<%= render 'shared/sidebar' %>

		<div class="col-md-9">
		<% @postSing.each do |postS| %>
			<h1><%= postS.name %></h1>	
				<!-- <img src="http://dummyimage.com/600x400/cccccc/ffffff.png&text=image" alt=""> -->
				<img src="<%= postS.image_url %>" alt="">	
				<div id="content">		
					<%= raw postS.content %>
				</div>
				<br>
				
		</div>
		<% end %>
	</div>	
</div>

<%= render 'shared/footer' %>